#template_ar_page{
    font-size:24px;
    height:1000px;
    direction: rtl;
    text-align: right;
    font-family: "Traditional Arabic";
}
#template_h2{
    text-decoration: underline;
    font-size:28px;
    font-weight: bold;
    text-align: center;
    color:red;
}
#template_ar_date{
    text-align: left;
    font-family: "Traditional Arabic";
    font-weight: bold;
}
#template_ar_title{
   text-align: right;
    color:red;
    text-decoration: underline;
}
#template_ar_P1{
    text-align: right;
    margin-right: 2em;
    text-indent: 40px;
    direction: rtl;
}




